.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 80px 1fr 80px;
  height: 100vh;
  border: 1px solid #555555;
  font-family: Arial, sans-serif;
}

#navbar {
  grid-column: 1 / span 2;
  background: #b7d4f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 1px solid #555555;
}

#sidebar {
  grid-row: 2 / span 2;
  background: #cbeecb;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border: 1px solid #555555;
  font-size: 20px;
}

#title {
  background: #f4e7a1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #555555;
  font-size: 22px;
}

#content {
  background: #f6c4b4;
  border: 1px solid #555555;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

#footer {
  grid-column: 1 / span 2;
  background: #e7c1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #555555;
  font-size: 22px;
}
