<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../level-style.css" />
    <link rel="stylesheet" href="level_two.css" />
    <title>Level 2</title>
  </head>
  <body>
    <h2>Full Year</h2>
    <div class="months-container container">
      <div>January</div>
      <div>February</div>
      <div>March</div>
      <div>April</div>
      <div>May</div>
      <div>June</div>
      <div>July</div>
      <div>August</div>
      <div>September</div>
      <div>October</div>
      <div>November</div>
      <div>December</div>
    </div>
  </body>
</html>
