.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.container > div:nth-child(1) {
  background-color: #b7d8f7;
}

.container > div:nth-child(2) {
  background-color: #c6f7be;
}

.container > div:nth-child(3) {
  background-color: #fde9a9;
}

.container > div:nth-child(4) {
  background-color: #f7c3b3;
}
