.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-family: Arial, sans-serif;
  border: 1px solid #d3d3d3;
}

.day-title {
  background: #e89ca0;
  color: black;
  padding: 10px 0;
  border: 1px solid #d3d3d3;
  font-weight: bold;
  font-size: 18px;
}

.container div {
  border: 1px solid #d3d3d3;
  padding: 25px 5px;
  font-size: 18px;
}

/* Colors */
.no-school { background: #d3d3d3; }
.school { background: #f6e89a; }
.weekend { background: #b6d99a; }
.event { background: #e77777; }
.half-day { background: #f4b28d; }
.winter-break { background: #89a8c6; }

/* ROW 2 */
#grid-item-1 { grid-column: 1 / span 4; }
#grid-item-2 { grid-column: 5 / span 2; }
#grid-item-3 { grid-column: 7 / span 1; }

/* ROW 3 */
#grid-item-4 { grid-column: 1 / span 1; }
#grid-item-5 { grid-column: 2 / span 5; }
#grid-item-6 { grid-column: 7 / span 1; }

/* ROW 4 */
#grid-item-7 { grid-column: 1 / span 1; }
#grid-item-8 { grid-column: 2 / span 2; }
#grid-item-9 { grid-column: 4 / span 3; }
#grid-item-10 { grid-column: 7 / span 1; }

/* ROW 5 */
#grid-item-11 { grid-column: 1 / span 1; }
#grid-item-12 { grid-column: 2 / span 1; }
#grid-item-13 { grid-column: 3 / span 1; }
#grid-item-14 { grid-column: 4 / span 2; }
#grid-item-15 { grid-column: 6 / span 1; }
#grid-item-16 { grid-column: 7 / span 1; }

/* ROW 6 */
#grid-item-17 { grid-column: 1 / span 1; }
#grid-item-18 { grid-column: 2 / span 5; }
#grid-item-19 { grid-column: 7 / span 1; }
